<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Module"/>
<f:section name="Content">
    <h1>404 Fehler</h1>

    <p><f:link.action action="delete" class="btn btn-warning">Liste leeren</f:link.action></p>

    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>Action</th>
                <th>Anzahl</th>
                <th>
                    <input class="form-control" data-action="regexPathFilter" value="^\/(?!\.well-|wp-).*(?:\/|\.(html?|pdf))$" readonly>
                </th>
            </tr>
        </thead>
        <tbody>

        <f:for each="{errors}" as="error">
            <tr data-path="{error.fields.source_path}">
                <td>
                    <a class="btn btn-primary" href="<errorLog:link.newRecord table="sys_redirect" returnUrl="{f:be.uri(route: 'site_ErrorLog')}" fields="{error.fields}"/>">
                        Redirect anlegen
                        <core:icon identifier="actions-add"/>
                    </a>
                </td>
                <td>{error.c}</td>
                <td class="nowrap">
                    {error.uri}
                </td>
            </tr>
        </f:for>

        </tbody>
    </table>

    <f:asset.script identifier="regexPathFilter" useNonce="1">
        const selector = 'input[data-action="regexPathFilter"]';

        const handleFocus = (event) => {
            if (!(event.target instanceof HTMLInputElement) || !event.target.matches(selector)) {
                return;
            }

            if (event.target.hasAttribute('readonly')) {
                event.target.removeAttribute('readonly');
                event.target.dispatchEvent(new Event('input', { bubbles: true }));
            }
        };

        const handleInput = (event) => {
          if (!(event.target instanceof HTMLInputElement) || !event.target.matches(selector)) {
              return;
          }

          try {
              event.target.style.borderColor = '';

              const regex = new RegExp(event.target.value, 'i');

              document.querySelectorAll('tbody tr').forEach((tr) => {
                  tr.style.display = regex.test(tr.dataset.path || '') ? '' : 'none';
              });
          } catch (e) {
              event.target.style.borderColor = 'red';
          }
        };

        document.addEventListener('focusin', handleFocus);
        document.addEventListener('input', handleInput);
    </f:asset.script>

</f:section>
</html>
